<ul>
    <li>
        <h3>Documentación: compodoc</h3>
        <p>Librería en el siguiente <a target="_blank" title="Librería compodoc" href="https://compodoc.github.io/website/">enlace</a></p>
    </li>
    <li>
        <h3>Clases, atributos a capa padre de componente: host</h3>
        <p>Ejemplo en la sección de encapsulación: padre.emulado.component.ts</p>
    </li>
    <li>
        <h3>Observable, Subject, BehaviourSubject y ReplyBehaviour</h3>
        <p>Ejemplo detallado en el siguiente <a target="_blank" title="Ejemplo Subject vs Observable vs BehaviorSubject" href="https://stackblitz.com/edit/angular-rxjs-subject-and-behaviorsubject">enlace</a></p>
    </li>
    <li>
        <h3>AsyncPipe y NgIf 'as' syntax</h3>
        <p>Ejemplo en la sección de detección de cambios: change-detection-hijo-on-push.component.ts</p>

    </li>
    <li>
        <h3>Manipular etiqueta meta</h3>
        <p>Ejemplo en el componente compartido breadcrumds: breadcrumbs.component.ts</p>
    </li>
    <li>
        <h3>@Self, @Optional, @SkipSelf(), @Host</h3>
    </li>
    <li>
        <h3>ViewProviders</h3>
    </li>
    <li>
        <h3>NgNonBindable y NgSwitch</h3>
        <p>Ejemplos disponibles en la página de directivas</p>
    </li>
    <li>
        <h3>Injectar template en <span style="color:#c30e2e">router-outlet</span> sin router.navigate</h3>
        <p>Ejemplo disponible en la sección de Animaciones animation.component.ts</p>
    </li>
</ul>