<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">

        <div class="navbar-header" [style.width.%]="100" style="text-align: right;">
            <div class="navbar-brand" style="display:inline-block;float: left;
            text-align: left;">
                <b>
                
                            <img src="https://johnpapa.gallerycdn.vsassets.io/extensions/johnpapa/angular-essentials/0.3.2/1508504847990/Microsoft.VisualStudio.Services.Icons.Default" alt="homepage" class="dark-logo" 
                                style="width: 20%;
                                height: 20%;
                                display: inline-block;"/>
                     
                            <h1 alt="homepage" style="line-height: 40px;
                            font-size: 17px;
                            display: inline-block;
                            font-weight: bold;"
                            >Angular Avanzado</h1>
                        </b>

            </div>
            <!-- <div class="nav-item dropdown" style="display:inline-block">
                <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img [src]="usuario.img | imagen" alt="user" class="profile-pic" />
                </a>
                <div class="dropdown-menu dropdown-menu-right animated fadeIn" style="left: -369%">
                    <ul class="dropdown-user">
                        <li>
                            <div class="dw-user-box" align="center">
                                <div class="u-img"><img [src]="usuario.img | imagen" alt="user"></div>
                                <div class="u-text">
                                    <h4> {{ usuario.nombre }} </h4>
                                    <p class="text-muted"> {{ usuario.email }} </p>
                                    <a routerLink="/perfil" class="btn btn-rounded btn-danger btn-sm">Ver perfil</a>
                                </div>
                            </div>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a routerLink="/perfil"><i class="ti-user"></i> Perfil</a></li>
                        <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                        <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a (click)="_usuarioService.logout()" class="pointer"><i class="fa fa-power-off"></i> Logout</a></li>
                    </ul>
                </div>
            </div> -->
        </div>

    </nav>
</header>