<h2>¿Qué son los módulos y cómo se refactoriza una aplicación?</h2>
<ul>
    <li>
        Los componentes, pipes, directivas, etc. se declaran
    </li>
    <li>
        Los módulos se importan
    </li>
    <li>
        Los servicios se añaden a providers sólo una vez en la app
    </li>
</ul>

<h3>Módulos</h3>
<p>Su propósito es organizar las partes de nuestra aplicación. Ordenando la misma en bloques. Permitiendo extender nuestra aplicación con funcionalidades de librerías externas. Permite a angular saber las importaciones / exportaciones necesarias para que
    cierto componente funcione.</p>
<p>
    <span>Para más info haz click </span>
    <a href="https://medium.com/@yonem9/angular-qu%C3%A9-son-los-m%C3%B3dulos-y-c%C3%B3mo-se-refactoriza-una-aplicaci%C3%B3n-9457550e8e9">aquí.</a>
</p>

<br>
<div style="display:grid; justify-items:center">
    <img src="https://cdn-images-1.medium.com/max/800/0*vhyRJKW73Pu-JEAj." alt="">
</div>