<h2>BreakpointObserver</h2>
<hr>
<ol>
    <li>
        <p>isMatched</p>
    </li>
    <li>
        observe
    </li>
</ol>

<h3>BreakpointObserver.observe</h3>
<p>Devuelve observable de tipo BreakPointState. Detecta cambio en la media query de la vista.</p>



<br>
<h3>BreakpointObserver.isMatching</h3>
<p>Devuelve un booleano si se cumple con la especificación en su llamada. Para consulta en momento concreto</p>

<button (click)="isDesktopVersionActivated()">Calcular altura</button>
<br>
<br>
<h4>Altura: {{viewPortHeight}}</h4>

<br><br>
<h2>MediaMatcher</h2>
<hr>
<h4>El evento asociado a mi matchMedia se lanzará cuando se cumple la condición establecida.</h4>
<p>Devuelve el objeto nativo de tipo MediaQueryList</p>