<h4 style="font-weight:bold; margin-bottom:-5px">Componente Padre - Encapsulación Native</h4>
<div style="border:2px solid black; padding:20px">
    <p>
        Soy el padre con encapsulación nativa y mi clase <span style="color:green">greenParentClass</span> pone el background verde a quien la use. Al tener encapsulación emulada, estilará los elementos de este template y los de sus componentes hijos
        que los usen, con herencia en cascada. hijos.
    </p>
    <app-hijo-nativo></app-hijo-nativo>
</div>