<fieldset class="fieldsetScroll">
    <legend>Componente Scroll</legend>
    <div>
        <h4>Contenedor cuyo contenido es desbordado por la altura</h4>
        <br>
        <h5>Ciudades</h5>
        <ol>
            <li>Madrid</li>
            <li>Barcelona</li>
            <li>Palencia</li>
            <li>Ciudad Real</li>
            <li>Santander</li>
            <li>Sevilla</li>
            <li>Tenerife</li>
            <li>Cádiz</li>
            <li>Pamplona</li>
            <li>Vigo</li>
        </ol>
    </div>
</fieldset>